<!-- Include header templete -->
<% include partials/header %>

<link rel="stylesheet" href="app.css">

<h1>This is WebSite</h1>

<img src="https://www.thelocal.dk/userdata/images/article/ff0c9597d2f673d0df8ee24b8994b2add3429e91629589443226b175b1f4b1a1.jpg" />

<!-- Include footer templete -->
<% include partials/footer %>